{% extends 'base.html' %}
{% block title %}Administration{% endblock title %}
{% block content %}
<main>
    <div class="container my-4 px-5">
        <h2 class="text-center">Users</h2>
        
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container my-4 px-5">
        <h2 class="text-center">Campaigns</h2>
        
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in campaigns %}
                <tr>
                    <td>{{campaign.id}}</td>
                    <td>{{campaign.title}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
