{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}

{% block stylesheet %}
<style>
    .custom-table {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden; /* Ensures rounded corners apply to the entire table */
    }
</style>
{% endblock stylesheet %}
{% block content %}
<main>
    <div class="container my-4 px-5">
        <h2 class="text-center">Visit Campaigns</h2>
        
        <table class="table table-bordered table-striped custom-table">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Campaign Link</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in active_campaigns %}
                    <tr>
                        <td>{{campaign.title}}</td>
                        <td><a href="{{url_for('campaigns.campaign_page', campaign_id=campaign.id)}}">See campaign details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</main>
{% endblock content %}